:root{
  --rotateto : rotate(0deg);
  --rotatefrom: rotate(360deg);
}

@keyframes spin {
  from {transform: var(--rotatefrom);}
  to {transform: var(--rotateto);}
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(18, 18, 48);
    color: white;
    font-family: "oswald";
    max-width: 800px;
    margin: auto;
}
.title{
    font-size: xx-large;
    text-align: center;
}
.mainArea{
    height: min(45vw, 360px);
    width: 90%;
    margin: auto;
    border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
    background-color: wheat;
    position: relative;
    overflow: hidden;
}
.scoresection{
    height: 200%;
    width: 100%;
    transform-origin: center;
    
}
.twopoint{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: conic-gradient(from 347.5deg,  rgb(201, 201, 47) 25deg, transparent 25deg, transparent 180deg,rgb(201, 201, 47) 180deg, rgb(201, 201, 47) 205deg, transparent 205deg);
    position: absolute;
  }
  .threepoint{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: conic-gradient(from 352.5deg,  rgb(255, 78, 78) 15deg, transparent 15deg, transparent 180deg,rgb(255, 78, 78) 180deg, rgb(255, 78, 78) 195deg, transparent 195deg);
    position: absolute;
  }
  .fourpoint{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: conic-gradient(from 357.5deg,  rgb(122, 122, 255) 5deg, transparent 5deg, transparent 180deg,rgb(122, 122, 255) 180deg, rgb(122, 122, 255) 185deg, transparent 185deg);
    position: absolute;
  }
  .blocker{
    height: 202%;
    width: 101%;
    border-radius: 50%;
    top: -1%;
    right: -1%;
    background-image: conic-gradient(from 90deg,  rgb(18, 18, 48) 180deg, transparent 180deg);
    position: absolute;
  }
  .hider{
    height: 202%;
    width: 101%;
    border-radius: 50%;
    top: -1%;
    right: -1%;
    background-image: conic-gradient(from 270deg,  rgb(158, 158, 255) 180deg, transparent 180deg);
    position: absolute;
  }
  .pointer{
    height: 30%;
    width: 15%;
    border-radius: 50%;
    top: 85%;
    right: 42.5%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    filter: drop-shadow(0px 0px 4px #000000);
    pointer-events: none;
  }
  .line{
    position: absolute;
    bottom: 50%;
    left: 45%;
    height: 250%;
    width: 10%;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
  }


  .section1{
    width: 40%;
  }
  .section2{
    width: 40%;
  }
  .separate{
    height: 50px;
    border-left: 1px solid lightblue;
    border-right: 1px solid lightblue;
    align-self: center;
  }
  .promptsection{
    display: flex;
    padding-top: min(5vw, 40px);
    justify-content: space-around;
    text-align: center;
  }
  .buttoncontainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: min(5vw, 40px);
  }
  .buttoncontainer > button{
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
    border: none;
    display: block;
  }
  .gamelink{
    color: aqua;
  }
  .spin{
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0, 0.38, 1.0);
  }